body{
	/*font-family: Montserrat-Regular;*/
	background-color: #c0c0c0;
}
#menu {
	height: 80px;
	margin-top: 30px;
	z-index: 9999;
}
#menu .navbar-right {
	margin-top: 15px;	
}
#menu .navbar-toggle {
	margin-top: 20px;
}
#menu #navbar {
	background-color: #f8f8f8;
}
/*header img {
	margin-top: -300px;
	z-index: 0;
	width: 100%;
	height: 100%;
}*/
.conteudo {
	font-size: 18px;
}
/*.color{
	color: #1E1959;
}*/
.btn-contato{
	background-color: #1A1259;
	color: #fff;	
}
.btn-contato:hover{
	color: #c0c0c0;	
}
